* {
  margin:0px;
  padding:0px;
}

p {
  /*display: block;
  width: 400px;
  margin: 50px auto;*/
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

.title {
  text-align: center;
  color: Black;
  font-size: 400%;
}
.body {
  color: Black;
  font-size: 200%;
}
.date {
  text-align: right;
  color: black;
  font-size: 200%;
}
.mail {
  color: black;
  font-size: 200%;
}
